/* This is CSS file of our Responsive Website  */

*{
    padding:0px;
    margin:0px;
}

.nav{
    display: flex;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-top: 7px;
    padding-bottom: 10px;
}
.nav li{
    list-style: none;    
}
.navlist{
    display:flex;
}
.nav li a{
    text-decoration: none;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}
#para::before{
    content: "";
    background: url(images/food.jpg) no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    height: 70%;
    width: 100%;
    top: 47px;
    left: 0px;
    opacity: 0.7;
}
#logo{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    margin: 0px;
    color: tomato;
    margin-right: 138px;
    margin-left: 15px;
    border: 5px solid red;
    border-radius: 10px;
}
#para{
    text-align: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 135px;
}
#welcome{
    font-size: 50px;
}
#inner{
    font-size: 25px;
}
.nav a:hover{
    color: black;
    background-color: white;
    border-radius: 30px;
    border:1px solid black;
}
#section{
    display: flex;
}
.service{
    display: block;
    text-align: center;
    margin-top: 265px;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}
#catering{
    border: 5px solid red;
    transition-property: all;
    transition-duration: 0s;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: lightgray;
}
#catering:hover{
    box-shadow: 15px 15px 5px black;
}
#bulk{
    border: 5px solid red;
    transition-property: all;
    transition-duration: 0s;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: lightgray;
}
#bulk:hover{
    box-shadow: 15px 15px 5px black;
}
#online{
    border: 5px solid red;
    transition-property: all;
    transition-duration: 0s;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: lightgray;
}
#online:hover{
    box-shadow: 15px 15px 5px black;
}
#catering-primary{
    display: block;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    margin: 0px;
}
#catering-secondary{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#bulk-primary{
    display: block;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    margin: 0px;
}
#bulk-secondary{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#online-primary{
    display: block;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    margin: 0px;
}
#online-secondary{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#cateringimg{
    height: 167px;
    width: 272px;
    display: block;
    margin: auto;
    padding-top: 25px;
}
#bulkimg{
    height: 167px;
    width: 272px;
    display: block;
    margin: auto;
    padding-top: 25px;
}
#onlineimg{
    height: 167px;
    width: 272px;
    display: block;
    margin: auto;
    padding-top: 25px;
}

#form{
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    margin: 36px 203px;
    border-radius: 20px;
    background-color: lightgray;
}
#name{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#number{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#copyright{
    color: white;
    background-color: black;
    font-size: 23px;
    padding: 1px;
    text-align: center;
    margin-bottom:0px;
    margin-block-start: 0px;
    font-family: 'Fredoka One', cursive;
}
.contactus{
    display: block;
    text-align: center;
    margin-top: 68px;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}
#submit{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#date{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#time{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#rform{
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    border-radius: 20px;
    background: url(images/reservation.jpg) no-repeat center center/cover;
    height: 500px;
    max-width: 90%;
    margin: auto;  
}

.reservation{
    display: block;
    text-align: center;
    margin-top: 68px;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

.innercont{
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    margin-left: 161px;
    margin-top: 28px;
    margin-bottom: 49px;
}

#contacts{
    border: 5px solid red;
    border-radius: 115px;
    background-color: orange;
    height: 300px;
    margin-bottom: 20px;
}

.fa{
    padding-right: 52px;
    font-size: 44px;
}

#timings{
    background-color: black;
    border-bottom: 2px solid red;
}

#timef{
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.timein{
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 20px;
}

.Menu{
    display: block;
    text-align: center;
    margin-top: 68px;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
}

#smenu{
    display: flex;
    flex-direction: column;
}

#smenu::before{
    content: "";
    background: url(images/background.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    opacity: 0.9;
    height:1175px;
    background-attachment: fixed;
    margin-top: 15px;
    opacity: 0.7;
}  

.menuin{
    display: flex;
    flex-direction: row;
}

.menup{
    border: 5px solid black;
    width: 29%;
    height: 191px;
    margin: auto;
    margin-top: 175px;
    border-radius: 26px;
}

.img{
    width: 100%;
    height: 191px;
    border-radius: 20px;
}

.menup:hover{
    box-shadow: 5px 5px 100px black;
}

.menup.first{
    border: 5px solid black;
    width: 29%;
    height: 191px;
    margin: auto;
    margin-top: 75px;
    border-radius: 26px;
}

#manymore{
    display: block;
    text-align: center;
    margin-top: 68px;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
}

.hamburger{
    visibility: hidden;
    position: absolute;
    right: 24px;
    top: 11px;
    cursor: pointer;
}

.line{
    width: 25px;
    height: 3px;
    background-color: black;
    margin-top: 3px;
}

@media(max-width:1190px){
    .navlist{
        flex-direction: column;
        text-align: center;
        align-items: center;
        transition: all 0.9s ease-in-out;
        width: 100%;
    }
    
    #logo{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .navlist li{
        margin-bottom: 10px;
    }

    .hamburger{
        visibility: visible;
    }

    .visible-resp{
        opacity: 0;
    }

    .height-resp{
        height: 30px;
    }
}

@media(max-width:922px){
    #section{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    #catering{
        margin-top: 27px;
        padding-bottom: 25px;
    }

    #bulk{
        margin-top: 27px;
        padding-bottom: 25px;
    }

    #online{
        margin-top: 27px;
        padding-bottom: 25px;
    }
    #para{
        margin-top:0px;
    }
}

@media(max-width:676px){
    #contacts{
        border-radius: 35px;
    }
}

@media(max-width:666px){
    .innercont{
        margin-left: 25px;
    }
}

@media(max-width:566px){
    .menuin{
        flex-direction: column;
    }
    .menup.first{
        width:60%;
    }
    .menup{
        width:60%;
    }
    #smenu::before{
        height: 250%;
        background-attachment: fixed;
    }
    #name{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: initial;
    margin-top: 26px;
    margin-bottom: 10px;
    }
    #number{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: initial;
    margin-top: 26px;
    margin-bottom: 10px;
    }
    #date{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: initial;
    margin-top: 26px;
    margin-bottom: 10px;
    }
    #time{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin: initial;
    margin-top: 26px;
    margin-bottom: 10px;
    }
    #submit{
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: initial;
    margin-top: 26px;
    margin-bottom: 10px;
    }
    .innercont{
        font-size: 18px;
        margin-left: 7px;
    }
    .fa{
        font-size: 30px;
    }
    .timein{
        font-size: 17px;
    }
    #copyright{
        font-size: 18px;
    }
}
@media(max-width:415px){
    #copyright{
       font-size: 13px; 
    }
}
@media(max-width:405px){
    #cateringimg{
        width: 212px;
    }
    #bulkimg{
        width: 212px;
    }
    #onlineimg{
        width: 212px;
    }
    #catering{
        width:102%;
    }
    #bulk{
        width:102%;
    }
    #online{
        width:102%;
    }
}
@media(max-width:280px){
    #cateringimg{
        width: 212px;
    }
    #bulkimg{
        width: 212px;
    }
    #onlineimg{
        width: 212px;
    }
    .innercont{
        font-size: 14px;
    }
}

